.body {
    background-color: rgb(240, 237, 233);
}

.card-img-top {
    height: 200px;
    max-width: 550px;
    /* istediğin sabit yükseklik */
    object-fit: cover;
    /* resim taşarsa kırparak sığdırır */
}

.card {
    margin-top: 30px;
}